---
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: No

BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true
---
